/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-konomoto-product-block {
	border: 1px dotted #f00;
	padding: 1rem;

	& h2,
	h3,
	p {
		margin: 0;
	}
}

.kwd-edit-input {
	background-color: rgba(60, 60, 60, 0.5);
	color: white;
	padding: 0.5rem;
	outline: none;
	border: none;
}

.kwd-edit-product-specs-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	// margin: 1rem 0;
}

.kwd-edit-materials-grid {
	display: grid;
	grid-template-columns: 45% 45% 5%;
	gap: 0.25rem;
}

.kwd-edit-measurement-grid {
	display: grid;
	grid-template-columns: 15% 80%;
	gap: 1rem;
	margin-bottom: 0.25rem;
}

.kwd-edit-measurement-subgrid {
	display: grid;
	grid-template-columns: 75% 20%;
	gap: 0.25rem;
}

.kwd-edit-remove-button {
	background: transparent;
	outline: none;
	border: none;
	color: grey;
	cursor: pointer;
	transition: all 150ms;

	&:hover {
		color: darkred;
	}
}

.kwd-edit-add-part-button {
	margin-top: 1rem;
	padding: 0.5rem;
	background-color: #007cba;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 150ms;

	&:hover {
		background-color: #005883;
	}
}
