/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-konomoto-product-block {
	border: 1px dotted #f00;
	padding: 1rem;

	& h2,
	h3,
	p {
		margin: 0;
	}
}

.kwd-edit-input {
	background-color: rgba(60, 60, 60, 0.5);
	color: white;
	padding: 0.5rem;
	outline: none;
	border: none;
}

.kwd-edit-select {
	background-color: rgba(60, 60, 60, 0.5);
	color: white;
	outline: none;
	border: none;
	padding-inline: 0.25rem;
}

.kwd-edit-product-specs-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	// margin: 1rem 0;
}

.kwd-edit-materials-grid {
	display: grid;
	grid-template-columns: 45% 45% 5%;
	gap: 0.25rem;
	margin-bottom: 0.25rem;
}

.kwd-edit-measurement-grid {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 1rem;
	margin-bottom: 0.25rem;
}

.kwd-edit-measurement-subgrid {
	display: grid;
	grid-template-columns: auto max-content;
	gap: 0.25rem;
}

.kwd-edit-remove-button {
	background: transparent;
	outline: none;
	border: none;
	color: grey;
	cursor: pointer;
	transition: all 150ms;

	&:hover {
		color: darkred;
	}
}

.kwd-edit-add-part-button {
	margin-top: 1rem;
	padding: 0.5rem;
	background-color: #007cba;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 150ms;

	&:hover {
		background-color: #005883;
	}
}

.kwd-edit-input-label {
	line-height: 2rem;
}

.kwd-edit-mats-piece,
.kwd-edit-mats-made-from,
.kwd-edit-measurement-name,
.kwd-edit-measurement-value {
	margin: 0;
}

.kwd-edit-measurement-name {
	width: max-content;
}

.kwd-toggle {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
	border-radius: 28px;
}

.kwd-toggle input {
	opacity: 0;
	width: 0;
	height: 0;
}

.kwd-toggle-button {
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: all 300ms;
	border-radius: 28px;
	background-color: grey;
}

.kwd-toggle-button::before {
	position: absolute;
	content: "";
	height: 21px;
	width: 21px;
	left: 3px;
	bottom: 3px;
	transition: all 300ms;
	background-color: #fff;
	border-radius: 50%;
}

input:checked + .kwd-toggle-button {
	background-color: #2196f3;
}

input:focus + .kwd-toggle-button {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .kwd-toggle-button::before {
	-webkit-transform: translateX(21px);
	-ms-transform: translateX(21px);
	transform: translateX(21px);
}

@media only screen and (min-width: 481px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1025px) {
}

@media only screen and (min-width: 1201px) {
}
