/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-konomoto-product-block {
	background-color: transparent;
	color: #fff;

	& p {
		margin: 0.5rem 0;
	}
}

.kwd-flex-row {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.kwd-flex-column {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.kwd-measurements-grid {
	display: grid;
	grid-template-columns: max-content max-content;
	gap: 0.5rem;
}

.kwd-materials-grid {
	display: grid;
	grid-template-columns: max-content max-content;
	gap: 0.5rem;
}

.kwd-product-specs-container {
	display: flex;
	flex-direction: column;
	gap: 5%;
	// padding-inline: 1rem;
}

.kwd-product-section-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.kwd-specs-label {
	font-weight: bold;
}

.kwd-price {
	font-family: "Averia Serif Libre";
	font-size: 1.5rem;
	font-weight: bold;
}

.kwd-mats-piece {
}

.kwd-mats-made-from {
}

.kwd-measurement-name {
}

.kwd-measurement-value {
}

.kwd-measurement-unit {
}

@media only screen and (min-width: 481px) {
}

@media only screen and (min-width: 768px) {
	.kwd-product-specs-container {
		display: grid;
		grid-template-columns: max-content max-content;
		gap: 5%;
	}
}

@media only screen and (min-width: 1025px) {
}

@media only screen and (min-width: 1201px) {
}
